site:
    name: {{ cloud_info_provider_sitename }}

compute:
{% if cloud_info_provider_middleware == 'indigoon' %}
    endpoints:
        {{ cloud_info_provider_on_xmlrpc_url }}:
{% endif %}
    images:
        defaults:
            # Set to False or comment the line below if you want to show
            # all the images installed in the site (also snapshots). Otherwise
            # only images with a valid marketplace ID (set by the marketplace
            # custom property) are shown
            require_marketplace_id: {{ cloud_info_provider_require_martketplace_id | default(false) }}
